
// 主题
$theme-primary-color:#27BA9B;
// 辅助
$helpColor:#E26237;
// 成功
$sucColor:#1DC779;
// 警告
$warnColor:#FFB302;
// 价格
$priceColor:#CF4444;



$dark-color1: #333;
$gray-color:#cdcdcd;

// size
$container-size: 1240px;


//----------------------------Home Category start--------------------------------------------
$category-bg-color: rgba(0,0,0,0.8);
$sub-category-bg-color: rgba(255,255,255,0.8);
$category-height: 50rem;
$indicator-color:rgba(0,0,0,0.2);

//----------------------------Home Category end--------------------------------------------


//-----------------footer-section-1-variables(start)-------------------------

$gray-deep-color: #666;
$gray-light-color: #999;
$dd-size: 9.2rem;
$text-size: 1.3rem;


//-----------------footer-section-1-variables(end)-------------------------

// ------------z-index---------------------
$header-zindex: 100;
$home-category-zindex: 99;
$caroursel-zindex: 98;